<div class="form-container">
  <h2>Đăng ký tài khoản</h2>
  
  <p style="color: red; font-weight: bold;" *ngIf="errorMessage">{{ errorMessage }}</p>

  <div class="input-group">
    <input type="text" [(ngModel)]="username" placeholder="Tên đăng nhập">
  </div>
  
  <div class="input-group">
    <input type="password" [(ngModel)]="password" placeholder="Mật khẩu">
  </div>

  <div class="input-group">
    <input type="password" [(ngModel)]="confirmPassword" placeholder="Nhập lại mật khẩu">
  </div>

  <div class="btn-group">
    <button routerLink="/" class="btn-back">Quay lại Trang Chủ</button>
    <button (click)="onRegister()" class="btn-submit">Đăng ký</button>
  </div>

  <div class="link-group">
    Đã có tài khoản? <a routerLink="/login">Đăng nhập</a>
  </div>
</div>