.success-box {
    max-width: 600px;
    margin: 50px auto;
    padding: 25px;
    border-radius: 12px;
    border: 1px solid #ddd;
    text-align: center;
    font-family: Arial;
    background: #fff;
}

.icon {
    font-size: 50px;
}

h2 {
    color: green;
}

.actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

button {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    background: black;
    color: white;
}