.payment-box {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-family: Arial;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}